*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
   background-color: antiquewhite;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 2px rgb(4, 0, 255);
}
.menu a{
    color: #000000;
    text-decoration: none;
    margin-right: 50px;
    padding: 20px;
}
.menu li{
    display: inline-block;
}
.menu a:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    transition: 0.7s;
}
img{
    width: 50px;
    right: 100px;
}
.container{
    background-image: url(../../IMAGEM/bope.jpg);
}